<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.tailwindcss.com"></script>
  <script src="../assets/assets_frontend"></script>
</head>
<body>
        <header>
            <div class="flex justify-between">
                <div class="">
                    <img src="../assets/assets_frontend/logo.svg">
                </div>
                <nav class="ms-4">
                    <a href="">Home</a>
                    <a href="">All Doctors</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                </nav>
                <div>
                    <img src="">
                    <div>
                        <p>User Name</p>
                        <p>Status Role</p>
                    </div>
                </div>
            </div>
            <nav>

            </nav>
        </header>
        <section>
            <div>
                <h1>Book Appointment with Trusted Doctors</h1>
                <p>Get access to the best healthcare professionals and book appointments with ease.</p>
                <button> Book Now</button>
            </div>
            <div>
                <img src="" />
            </div>
        </section>

</body>
</html>